<h1>How awesome is this page?</h1>
<p>
	<form method="get" action = "/awesomeness">
		<button class="awesomeness">
			Super Awesome</button>
		</form>

		<form method = "get" action="/awesome">
			<button class="notawesomeness" 
			data-heading="NOT awesome">NOT Awesome</button>
		</form>
</p>


