<h1>How awesome is this page?</h1>

<button class="awesomeness">Super Awesome</button>


<button class="notawesomeness" 
data-heading="NOT awesome">NOT Awesome</button>

<div class="awesome">
	<img src="/self.gif">
</div>
<div class="notawesome">
	<img src = "/fail.gif">
</div>


